body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-bar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 20px; /* Fixed height for consistency */
}

.menu-bar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 15px;
    z-index: 1000; /* Added z-index */
    overflow-y: auto; /* Added for scrolling if content is too long */
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.legend-item {
    cursor: pointer;
    margin-bottom: 3px;
    opacity: 1;
    transition: opacity 0.3s;
}

.legend-item.deselected {
    opacity: 0.3;
}

.content {
    margin-left: 250px;
    margin-top: 50px; /* Matches the total height of menu-bar */
    padding: 20px;
}

#plot-container {
    width: 100%;
    height: 100%;
}

#plot {
    height: 80vh;  /* Adjust plot height */
}

@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .content {
        margin-left: 0;
    }
}
